:host.box-container {
  display: block;

  height: 100%;
  padding: 40px 40px;

  border-radius: 8px;

  transition: box-shadow 0.3s;

  &.is-light {
    background: white;
    box-shadow: 0 4px 12px rgba(134, 134, 134, 0.2);
  }

  &.is-dark {
    background: linear-gradient(
      170.6deg,
      #8ea2b7 -27.43%,
      #416487 47%,
      #002240 126.93%
    );
    box-shadow: 0 4px 12px rgba(134, 134, 134, 0.2);
    color: white;
  }
  &:hover {
    box-shadow: 0 16px 24px rgba(191, 151, 243, 0.2);
  }
}
