:host {
  align-items: center;
}
.first-section {
  background-color: white;
  align-items: center;
  margin: 0 auto;
  height: 100%;

  & h1 {
    text-align: center;
    padding-top: 50px;
  }
  & p {
    text-align: center;
    padding-bottom: 150px;
  }

  & img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    display: block;
  }
}

.second-section {
  height: 60%;
  background-color: #4d6d9a;
  & .container {
    border: 1px black;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    position: relative;

    & .ui-box {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 50px;
    }
  }
  & h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
  }
}

.third-section {
  height: 40%;
  background-color: white;
  &.container {
    border: 1px black;
  }
}

::ng-deep html {
  height: 100%;
}

::ng-deep body {
  height: 100%;
  margin: 0;
}

::ng-deep ui-inbox {
  text-align: left;
}

p,
h3,
h4 {
  text-align: left;
}

p {
  font-size: 14px;
  line-height: 30px;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  vertical-align: baseline;
  background: transparent;
}

small {
  color: gray;
}

.tech-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 40px;
  row-gap: 15px;
  align-items: center;

  margin-top: 5px;

  & img {
    max-height: 40px;
    max-width: 100px;
    align-self: center;
    width: auto;
    height: auto;
  }
}

.skills-tech-container {
  margin-top: 20px;

  h4 {
    margin-bottom: 10px;
  }
}

.language {
  color: #802bb1;
}

.tools-technology {
  color: #802bb1;
}
