<div class="first-section">
  <h1>Web Developer, Senior Analyst & DevOps Engineer</h1>
  <p>
    Experienced web developer with humble bit of experiences in DevOps and
    Backend development too
  </p>
  <img src="assets/image.JPG" alt="" />
</div>

<div class="second-section">
  <h2>Hello, I'm Jonathan Soong. Welcome to my portfolio</h2>
  <div class="container">
    <div class="ui-box">
      <ui-box *ngFor="let item of data">
        <h3>
          {{ item.title }} <small>- {{ item.project.name }}</small>
        </h3>

        <p *ngFor="let description of item.description">{{ description }}</p>

        <div
          *ngIf="item.project.headcount"
          class="skills-tech-container"
          uiGrid
          cols="4"
        >
          <div>
            <h4 class="language">Resources Headcount</h4>
            {{ item.project.headcount }}
          </div>
          <div>
            <h4 class="tools-technology">Feature Module (s)</h4>
            {{ item.project.numberOfFeatureModules }}
          </div>
          <div>
            <h4 class="tools-technology">Timeline</h4>
            {{ item.project.timeline }}
          </div>
          <div>
            <h4 class="tools-technology">User (s)</h4>
            {{ item.project.numberOfUsers }}
          </div>
        </div>
        <div class="skills-tech-container" uiGrid cols="1">
          <!-- <div *ngIf="item.skills?.length != 0">
            <h4 class="language">Skills</h4>
            <div class="tech-container">
              <p *ngFor="let skill of item.skills">{{ skill }}</p>
            </div>
          </div> -->
          <div>
            <h4 class="tools-technology">Tools & Technologies</h4>
            <div *ngIf="item?.technologies?.length != 0" class="tech-container">
              <p *ngFor="let tech of item.technologies">{{ tech }}</p>
            </div>
            <div
              *ngIf="item?.technologiesImages?.length != 0"
              class="tech-container"
            >
              <a
                *ngFor="let tech of item.technologiesImages"
                [attr.href]="tech.linkUrl"
                target="_blank"
              >
                <img [src]="tech.imageUrl" />
              </a>
            </div>
          </div>
        </div>
      </ui-box>
    </div>
  </div>
</div>

<div class="third-section"></div>
